    <div class="sidebar"  data-background-color = "black" data-image="/static/img/sidebar-1.jpg">
      <div class="logo">
        <a href="https://github.com/Airlis/CMPT733_Project" class="simple-text logo-normal" style="font-size:1.5em;">Stack Exchange
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <span style="padding:30px;"> </span>
          <li class="nav-item">
            <a class="nav-link" href="/bicycles">
              <span style="font-size: 1.5em;"">
                <i class="fas fa-bicycle"></i> Bicycles
              </span>
            </a>
          </li>
          <span style="padding:30px;"> </span>
          <li class="nav-item">
            <a class="nav-link" href="/gaming">
              <span style="font-size: 1.5em;"">
                <i class="fas fa-gamepad"></i> Gaming
              </span>
            </a>
          </li>
          <span style="padding:30px;"> </span>
          <li class="nav-item ">
            <a class="nav-link" href="/movies">
              <span style="font-size: 1.5em">
                <i class="fas fa-film"></i>  Movies
              </span>
            </a>
          </li>
          <span style="padding:30px;"> </span>
          <li class="nav-item ">
            <a class="nav-link" href="/stackoverflow">
              <span style="font-size: 1.5em">
                <i class="fab fa-stack-overflow"></i>  Programming
              </span>
            </a>
          </li>
          <span style="padding:30px;"> </span>
          <li class="nav-item ">
            <a class="nav-link" href="/music">
              <span style="font-size: 1.5em">
                <i class="fas fa-music"></i>  Music
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
